<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>skeleton-page.html</param-value>
    </context-param>
    <context-param>
        <param-name>images.directory</param-name>
        <param-value>\img\</param-value>
    </context-param>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>socialdevelop.controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>socialdevelop.controller.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskForum</servlet-name>
        <servlet-class>socialdevelop.controller.TaskForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rate</servlet-name>
        <servlet-class>socialdevelop.controller.Rate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetVote</servlet-name>
        <servlet-class>socialdevelop.controller.SetVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMessage</servlet-name>
        <servlet-class>socialdevelop.controller.SetMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>socialdevelop.controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <servlet-class>socialdevelop.controller.NotFound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskPage</servlet-name>
        <servlet-class>socialdevelop.controller.TaskPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>socialdevelop.controller.Messages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project</servlet-name>
        <servlet-class>socialdevelop.controller.Project</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Project</servlet-name>
        <url-pattern>/Project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskPage</servlet-name>
        <url-pattern>/TaskPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/NotFound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>/Messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMessage</servlet-name>
        <url-pattern>/setMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskForum</servlet-name>
        <url-pattern>/TaskForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rate</servlet-name>
        <url-pattern>/Rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetVote</servlet-name>
        <url-pattern>/setVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
</web-app>
