<div class="container">
<#if inviti?size == 0>
    <div class="row">
        <div class="col-xs-12">
            <h1>Non hai nessuna offerta o proposta</h1>
        </div>
    </div>
<#else>
    <div class="row">
        <div class="col-xs-6">
            <div class="contact--form margin_bottom_50 margin_top_50">
                <h4>Pannello delle offerte</h4>
                <#list inviti as invito>
                    <#if invito.offerta == true>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Task: </p><a href="Task?task_id=${invito.task.key}"><span>"${invito.task.nome}"</span></a>
                                <p>Progetto: </p><a href="Project?progetto_id=${invito.task.progetto.key}"><span>"${invito.task.progetto.nome}"</span></a>
                                <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Accettato" class="btn btn-primary float green-btn float--right">Accetta</a>
                                <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Rifiutato" class="btn btn-primary float red-btn float--right">Rifiuta</a>
                            </div>
                        </div>
                    </#if>
                </#list>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="contact--form margin_bottom_50 margin_top_50">
                <h4>Pannello delle proposte</h4>
                <#list inviti as invito>
                    <#if invito.offerta == false>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Task: </p><a href="Task?task_id=${invito.task.key}"><span>"${invito.task.nome}"</span></a>
                                <p>Progetto: </p><a href="Project?progetto_id=${invito.task.progetto.key}"><span>"${invito.task.progetto.nome}"</span></a>
                                <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Annullato" class="btn btn-primary float red-btn float--right">Rifiuta</a>
                            </div>
                        </div>
                    </#if>
                </#list>
            </div>
        </div>
    </div>
</#if>
</div>
