<div class="vc--parent">
    <div class="vc--child pb--100">
        <section class="page--wrapper">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content">
                        <div class="main--content-inner">
                            <<!-- Buddy Finder Widget Start -->
                            <div class="buddy-finder--widget">
                                <form action="doLoginAdmin">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Username</span>
                                                        
                                                    <input type="text" name="email" class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Password</span>
                                                        
                                                    <input type="password" name="password" class="form-control"/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Accedi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Buddy Finder Widget End --> 
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </div>
</div>