<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" dir="ltr">
    
    <head>
        <#include "head.html">
    </head>
        
    <body>
        
        <!-- Wrapper Start -->
        <div class="wrapper">
            
            <#include "admin_header.html">
                
            <#include content_tpl>
            
        </div>
        <!-- Wrapper End -->
            
        <!-- Back To Top Button Start -->
        <div id="backToTop">
            <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
        </div>
        <!-- Back To Top Button End -->
            
        <!-- ==== Plugins Bundle ==== -->
        <script src="js/plugins.min.js"></script>
        
        <!-- ==== Personal Scripts ==== -->
        <script src="js/personal.js"></script>
        <script src="js/custom.js"></script>
        
        <!-- ==== Main Script ==== -->
        <script src="js/main.js"></script>
            
    </body>
        
</html>