<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="contact--form margin_bottom_50 margin_top_50">
                <form action="DoCreateDiscussion" method="post" name="signup_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h3>Inizia una nuova discussione</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="text" name="titolo" id="titolo" placeholder="Titolo" class="form-control" required>
                                <input type="hidden" name="taskerino_id" value="${task_id}"/>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group float--right">
                                <input type="radio" name="pubblica" value="true"> Pubblica
                                <input type="radio" name="pubblica" value="false"> Privata
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea name="testo" id="testo" placeholder="Inserisci il tuo messaggio iniziale" class="form-control" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Crea</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div><!-- Main Sidebar End -->
</div>

