<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="contact--form margin_bottom_50 margin_top_50">
                <form action="DoCreateProject" method="post" name="signup_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h3>Crea un Progetto</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="nome" id="nome" placeholder="Nome Progetto" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row"> 
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea name="descrizione" id="descrizione" placeholder="Descrizione" class="form-control" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Fine</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div><!-- Main Sidebar End -->
</div>