<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <ul class="nav">
                <li><a href="EditUserProfileRegistry">Modifica i tuoi dati anagrafici e dell'account</a></li>
                <li><a href="EditUserProfilePassword">Modifica la tua password</a></li>
                <li><a href="EditUserProfileEmail">Modifica la tua e-mail</a></li>
                <li><a href="EditUserProfileSkills">Modifica le tue skills</a>
                <li><a href="EditUserProfilePic">Modifica la tua immagine del profilo</a>
                <li><a href="EditUserProfileCV">Modifica il tuo curriculum vitae</a>
            </ul>
        </div>
        <div class="col-xs-9">
            <div class="contact--form margin_bottom_50 margin_top_50">
                <form action="DoEditUserProfileRegistry" method="post" name="signup_form" onsubmit="return signup_check()">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4>Modifica i tuoi dati anagrafici e dell'account</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" value="${utente.nome}" name="nome" id="nome" placeholder="Nome" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" value="${utente.cognome}" name="cognome" id="cognome" placeholder="Cognome" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" value="${utente.username}" name="username" id="username" placeholder="Username" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" value="${data_nascita.time?string["yyyy-MM-dd"]}" name="data_nascita" id="data_nascita" placeholder="Data di nascita" onfocus="(this.type='date')" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea name="biografia" id="biografia" placeholder="Biografia" class="form-control" required>${utente.biografia}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Modifica</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>