<div class="container padding_top_150">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="contact--form">
                <form action="DoEditProject" method="post" name="signup_form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4>Modifica Progetto</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" value="${progetto.nome}" name="nome" id="nome" placeholder="Nome" class="form-control" required>
                                <input type="hidden" name="progettoiddi" value="${progetto.key}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea name="descrizione" id="descrizione" placeholder="Descrizione" class="form-control">${progetto.descrizione}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Modifica</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
