<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0 fs--16 fw--400">
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileRegistry" class="text-darkest">Modifica i tuoi dati generali</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfilePassword" class="text-darkest">Modifica la tua password</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileEmail" class="text-darkest">Modifica la tua e-mail</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileSkills" class="text-darkest">Modifica le tue skills</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfilePic" class="text-darkest">Modifica la tua immagine</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="EditUserProfileCV" class="text-darkest">Modifica il tuo curriculum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0">
                <form action="DoEditUserProfilePic" method="post" name="signup_form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4>Modifica la tua immagine</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-xs-4">
                            <div class="form-group">
                                <figure>
                                    <img id="immagine_profilo" src="image?imgid=${propic_key}" class="img-circle circle-avatar img-responsive">
                                </figure>
                                <label class="btn btn-primary btn-file btn-upd bottone_carica_foto_profilo">Carica nuova foto profilo
                                    <input type="file" id="foto_profilo" name="foto_profilo" class="hidden" accept="image/*" required/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Modifica</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>
