<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0 fs--16 fw--400">
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileRegistry" class="text-darkest">Modifica i tuoi dati generali</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfilePassword" class="text-darkest">Modifica la tua password</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileEmail" class="text-darkest">Modifica la tua e-mail</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfileSkills" class="text-darkest">Modifica le tue skills</a>
                    </div>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xs-12">
                        <a href="EditUserProfilePic" class="text-darkest">Modifica la tua immagine</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="EditUserProfileCV" class="text-darkest">Modifica il tuo curriculum</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0">
                <form action="DoEditUserProfileAddSkills" method="post" onsubmit="return check_add_skills()">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4>Aggiungi nuove skills</h4>
                            </div>
                        </div>
                    </div>
                    <div id="skills">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <select name="nome_skill_1" id="nome_skill_1"  class="form-control nome_skill">
                                        <#list skills as skill>
                                        <option value="${skill.nome}">${skill.nome}</option>
                                        <#list skill.figli as figlio>
                                        <option value="${figlio.nome}">----- ${figlio.nome}</option>
                                        </#list>
                                        </#list>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input name="voto_skill_1" type="number" class="form-control voto_skill" step="1" min="1"  max="10" required>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-primary float--left" onclick="add_skill();">Aggiungi una nuova skill</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary float--right">Aggiungi</button>
                        </div>
                    </div>
                        
                </form>
            </div>
                
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h4>Modifica o elimina le tue skills</h4>
                            <#if user_skills?size == 0>
                                <p>Non hai skills</p>
                            <#else>
                                <p>Per modificare una skill, inserisci un nuovo voto e clicca sul relativo pulsante</p>
                            </#if>
                        </div>
                    </div>
                </div>
                <#if user_skills?size != 0>
                    <#list user_skills?keys as user_skill>
                    <form action="DoEditUserProfileEditSkill?skill_key=${user_skill.key}" method="post">  
                        <div class="row">                    
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="h6 fw--700 text-darkest">${user_skill.nome}</p>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                    <input name="voto_skill" type="number" class="form-control voto_skill" step="1" min="1"  max="10" value="${user_skills?values[user_skill?index]}">    
                                </div>
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-primary float--right">Modifica</button>
                                </div>
                            <div class="col-xs-3">
                                <a href="DoEditUserProfileDeleteSkill?skill_key=${user_skill.key}" class="btn btn-primary float red-btn float--right">Elimina</a>
                            </div>
                        </div>
                    </form>
                    </#list>
                </#if>
            </div>
        </div>
    </div>
</div>
