<header class="header--section style--3">
    <div class="header--navbar navbar bg-default" data-trigger="sticky">
        <div class="container">
            
            <div class="navbar-header">  
                <div class="header--navbar-logo navbar-brand">
                    <a  class="logo" href="Index">
                        <span class="logo-social">Social</span><span class="logo-develop">Develop</span>
                    </a>
                </div>
            </div>
            
            <div class="header--search style--2 float--right" data-form="validate">
                <form action="search">
                    <input type="hidden" name="type" value="${type!'projects'}"/>
                    <input type="text" name="filter" placeholder="Sto cercando ..." class="form-control" autocomplete="off" required/>   
                    <button type="submit" class="btn-link"><i class="fa fa-search"></i></button>
                </form>
            </div>
            
            <div id="headerNav" class="navbar-collapse collapse float--right">
                <ul class="header--nav-links style--3 nav ff--primary">
                    <li class="dropdown">
                        <a href="search" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Progetti</span>
                            <i class="fa fa-caret-down"></i>
                        </a>  
                        <ul class="dropdown-menu">
                            <li><a href="search"><span>Cerca progetti</span></a></li>
                            <#if utente_key gt 0>
                            <li><a href="CreateProject"><span>Crea un progetto</span></a></li>
                            <li><a href=""><span>I miei progetti</span></a></li>
                            <li><a href=""><span>Avanzamento progetti</span></a></li>
                            </#if>
                        </ul>
                    </li>
                    <li>
                        <a href="search?type=developers"><span>Programmatori</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-o"></i>
                            <span></span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <#if utente_key gt 0>
                                <li><a href="UserProfile">Profilo</a></li>
                                <li><a href="EditUserProfileRegistry">Modifica profilo</a></li>
                                <li><a href="OffersApplicationsPanel">Pannello offerte/proposte</a></li>
                                <li><a href="InviteSendReceive">Pannello richieste/risposte</a></li>
                                <li><a href="Logout">Logout</a></li>
                            <#else>
                                <li><a href="Login">Login</a></li>
                                <li><a href="SignUp">Registrati</a></li>
                            </#if>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</header>
