<div class="container">
    <#if inviti?size == 0>
    <div class="row padding_top_250 centered">
        <div class="col-xs-12">
            <h1>Non hai nessuna richiesta o risposta</h1>
        </div>
    </div>
    <#else>
    <div class="row">
        <div class="col-xs-6">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0">
                <h4>Pannello delle domande</h4>
                <hr>
                <#list inviti as invito>
                <#if invito.offerta == true>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Progetto: <a href="Project?progetto_id=${invito.task.progetto.key}"><span>"${invito.task.progetto.nome}"</span></a> - Task: <a href="Task?task_id=${invito.task.key}"><span>"${invito.task.nome}"</span></a></p>
                        <#if invito.stato == "In attesa">
                             <<div class="row">
                                <div class="col-md-3 col-md-offset-6 col-xs-offset-0 col-xs-3">
                                    <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Rifiutato" class="btn btn-primary float red-btn">Rifiuta</a>
                                </div>
                                <div class="col-md-3 col-xs-3 col-xs-offset-6 col-md-offset-0">
                                    <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Accettato" class="btn btn-primary float green-btn float--right">Accetta</a>
                                </div>
                            </div>
                        <#elseif invito.stato == "Rifiutato">
                            <p>Hai rifiutato l'invito di ${invito.utente.username}</p>
                        <#elseif invito.stato == "Annullato">
                            <p>L'utente ${invito.utente.username} ha annullato questo invito</p>
                        <#elseif invito.stato == "Accettato">
                            <p>Hai accettato l'invito di ${invito.utente.nome}</p>
                        </#if>
                    </div>
                </div>
                <hr>
                </#if>
                </#list>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="contact--form margin_bottom_50 margin_top_50 margin_left_right_0">
                <h4>Pannello degli inviti</h4>
                <hr>
                <#list inviti as invito>
                <#if invito.offerta == false>
                <div class="row">
                    <div class="col-xs-12">
                        <p>Progetto: <a href="Project?progetto_id=${invito.task.progetto.key}"><span>"${invito.task.progetto.nome}"</span></a> - Task: <a href="Task?task_id=${invito.task.key}"><span>"${invito.task.nome}"</span></a>, inviato a <a href="UserProfile?username=${invito.utente.username}">${invito.utente.username}</a></p>
                        <#if invito.stato == "In attesa">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-9">
                                    <a href="ChangeInviteStatus?invito_key=${invito.key}&stato=Annullato" class="btn btn-primary float red-btn">Annulla</a>
                                </div>
                            </div>
                        <#elseif invito.stato == "Rifiutato">
                            <p>${invito.utente.username} ha rifiutato questo invito</p>
                        <#elseif invito.stato == "Annullato">
                            <p>Hai annullato l'invito di ${invito.utente.username}</p>
                        <#elseif invito.stato == "Accettato">
                            <p>${invito.utente.username} ha accettato questo invito</p>
                        </#if>
                    </div>
                </div>
                <hr>
                </#if>
                </#list>
            </div>
        </div>
    </div>
    </#if>
</div>

