<div class="container padding_top_150">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="contact--form">
                <form action="DoLogin" method="post">
                    <div class="row"> 
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="text" name="user_email" id="user_email" placeholder="Username o e-mail" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="SignUp">Non sei registrato? Registrati!</a>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary float--right">Accedi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
