    
<!-- Page Header Start -->
<div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
    <div class="container">
        <div class="title">
            <h2 class="h1 text-white">Valuta i tuoi collaboratori</h2>
        </div>             
        <p class="text-gray ff--default mt--10">
            Esprimi dei giudizi sul lavoro svolto da ogni sviluppatore su una scala da 1 a 5, dove 1 esprime insoddisfazione e 5 esprime piena soddisfazione
        </p>
    </div>
</div>
<!-- Page Header End -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner">
                    <#list project.tasks as task>
                    <hr>
                    <!-- Filter Nav Start -->
                    <div class="filter--nav pb--30 clearfix">
                        <div class="filter--link float--left">
                            <h2 class="h4">${task.nome}</h2>
                        </div>
                    </div>
                    
                    <div class="member--items">
                        <div class="row gutter--15 AdjustRow">
                            <#list task.utenti as user, vote>
                            <div class="col-md-3 col-xs-6 col-xxs-12">
                                <!-- Member Item Start -->
                                <div class="member--item online">
                                    <div class="img img-circle">
                                        <a href="member-activity-personal.html" class="btn-link">
                                            <img src="image?imgid=${user.immagine.key}" alt="">
                                        </a>
                                    </div>
                                    <div class="name">
                                        <h3 class="h6 fs--12">
                                            <a href="member-activity-personal.html" class="btn-link">${user.nome} ${user.cognome}</a>
                                        </h3>
                                    </div>
                                    <div class="activity">
                                        <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                                    </div>
                                    <div class="actions">
                                        <form action ="<#if vote==0>setVote?proj_id=${project.key}<#else>setVote?proj_id=${project.key}&edit=1</#if>" method="POST">
                                            <input type="hidden" name="user_id" value="${user.key}"/>
                                            <input type="hidden" name="task_id" value="${task.key}"/>
                                            <div class="slider_box" ><#if vote==0><input type="range" name="vote" min="1" max="5" value=${vote} step="1" class="vote_slider" /></#if></div>
                                            <div class="max-width mt--4 mb--4">
                                                <div class="range-val <#if vote == 1>selected_val</#if>">1</div>
                                                <div class="range-val <#if vote == 2>selected_val</#if>">2</div>
                                                <div class="range-val <#if vote == 3>selected_val</#if>">3</div>
                                                <div class="range-val <#if vote == 4>selected_val</#if>">4</div>
                                                <div class="range-val <#if vote == 5>selected_val</#if>">5</div>
                                            </div>
                                            <div class="mt--10 max-width" >
                                                <script>
                                                   <#if vote == 0>
                                                    document.write('<button type="button" onclick="setVote($(this).closest(\'form\'))" class="btn btn-default max-width">Conferma</button>');
                                                   <#else>
                                                    document.write('<button type="button" onclick="editVote($(this).closest(\'form\'))" class="btn btn-default max-width">Modifica</button>');
                                                   </#if>
                                                </script>
                                                <noscript>
                                                <#if vote == 0>
                                                    <button type="submit" class="btn btn-default max-width">Conferma</button>
                                                <#else>
                                                    <button type="submit" class="btn btn-default max-width">Modifica</button>
                                                </#if>
                                                </noscript>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Member Item End -->
                            </div>
                            </#list>
                        </div>
                    </div>
                    </#list>
                </div>
            </div>
        </div>
    </div>
</section>
<center></center>