
<!-- Page Header Start -->
<div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
    <div class="container">
        <div class="title">
            <h2 class="h1 text-white">Valuta i tuoi collaboratori</h2>
        </div>             
        <p class="text-gray ff--default mt--10">
            Esprimi dei giudizi sul lavoro svolto da ogni sviluppatore su una scala da 1 a 5, dove 1 esprime insoddisfazione e 5 esprime piena soddisfazione
        </p>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 pb--60" data-trigger="stickyScroll">
                <#list project.tasks as task>
                <div class="main--content-inner drop--shadow mb--30">
                    
                    <!-- Forum Header Start -->
                    <div class="forum--header pb--50">
                        <div class="forum--subtitle ff--primary fs--14 text-darker">
                            <p><h4>${task.nome}</h4></p>
                        </div>
                    </div>
                    <!-- Forum Header End -->
                    
                    <!-- Topic Replies Start -->
                    <div class="topic--replies">
                        <ul class="nav">
                            <#list task.utenti?keys as user>
                            <li>
                                <!-- Topic Reply Start -->
                                <div class="topic--reply">
                                    <div class="header clearfix">
                                        <p class="date float--left">19th January 2017 at 9:20 pm</p>
                                        <p class="link float--right"><a href="topic-replies.html#575">#575</a></p>
                                    </div>
                                    
                                    <div class="body clearfix">
                                        <div class="author mr--20 float--left text-center">
                                            <div class="avatar" >
                                                <a href="member-activity-personal.html">
                                                    <img src="image?imgid=${user.immagine.key}" alt="">
                                                </a>
                                            </div>
                                            
                                            <div class="name text-darkest">
                                                <p class=""><a href="member-activity-personal.html">${user.nome} ${user.cognome}</a></p>
                                            </div>
                                            
                                            <div class="role text-uppercase">
                                                <p class="text-white bg-primary">Keymaster</p>
                                            </div>
                                        </div>
                                        <div class="product--quantity-wrapper">
                                            <!-- Product Quantity Start -->
                                            <div class="product--quantity" data-trigger="spinner">
                                                <div class="input-group">
                                                    <div class="input-group-addon text-default">
                                                        <i class="fa fa-minus-circle" data-spin="down"></i>
                                                    </div>
                                                    
                                                    <input type="text" name="quantity" value="3" data-min="1" data-max="5" data-step="1" class="form-control" data-rule="quantity">
                                                    
                                                    <div class="input-group-addon text-default">
                                                        <i class="fa fa-plus-circle" data-spin="up"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Quantity End -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Topic Reply End -->
                            </li>
                            </#list>
                        </ul>
                    </div>
                    <!-- Topic Replies End -->
                    
                </div>
                </#list>
            </div>
            <!-- Main Content End -->
        </div>
    </div>
</section>
<!-- Page Wrapper End -->
