<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-8 pb--60">
                <div class="main--content-inner">
                    <!-- Filter Nav Start -->
                    <div class="filter--nav pb--30 clearfix">
                        <div class="filter--link float--left">
                            <h2 class="h4"><#if type = "projects">Progetti<#else>Sviluppatori</#if> trovati : ${total}</h2>
                        </div>
                        
                        <form class="filter--options float--right">
                            <span class="fs--14 ff--primary fw--500 text-darker">Ordina per:</span>
                            <select name="membersfilter" class="form-control form-sm" onselect="" data-trigger="selectmenu">
                                <option value="last-created" selected>Data di creazione</option>
                                <option value="most-members">Numero </option>
                                <option value="newly-created">Newly Created</option>
                                <option value="alphabetical">Alphabetical</option>
                            </select>
                            <noscript>
                            <button type="Submit" class="btn btn-default">Cerca</button>
                            </noscript>
                        </form>
                    </div>
                    <!-- Filter Nav End -->
                    <div id="updatable_content">
                        <!-- Box Items Start -->
                        <div class="box--items">
                            <div class="row gutter--15 AdjustRow">
                                <#if type = "projects">
                                <#list result as project>
                                <div class="col-md-4 col-xs-6 col-xxs-12">
                                    <!-- Box Item Start -->
                                    <div class="box--item text-center">
                                        <div class="info project_info">
                                            <div class="icon fs--18 text-lightest bg-primary">
                                                <i class="fa fa-code"></i>
                                            </div>
                                            
                                            <div class="title">
                                                <h2 class="h6"><a href="Project?progetto_id=${project.key}">${project.nome}</a></h2>
                                            </div>
                                            <div class="desc text-darker line-clamp-3">
                                                <p>${project.descrizione}</p>
                                            </div>
                                            <div class="meta">
                                                <p><i class="fa mr--8 fa-user-o"></i>Collaboratori: ${count_collaboratori[project?index]}</p>
                                            </div>
                                            <div class="action">
                                                <a href="#">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Box Item End -->
                                </div>
                                </#list>
                                <#elseif type="developers">
                                <#list result as user>
                                <div class="col-md-4 col-xs-4 col-xxs-12">
                                    <!-- Box Item Start -->
                                    <div class="box--item text-center">
                                        <a href="UserProfile?username=${user.username}" class="img dev_img" data-overlay="0.1">
                                            <img src="image?imgid=${user.immagine.key}" alt="">
                                        </a>
                                        <div class="info">
                                            <div class="icon fs--18 text-lightest bg-primary">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="title">
                                                <h2 class="h6"><a href="UserProfile?username=${user.username}">${user.nome} ${user.cognome}</a></h2>
                                            </div>
                                            <div class="desc text-darker line-clamp-2">
                                                <p>${user.biografia}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Box Item End -->
                                </div>
                                </#list>
                                <#else>
                                
                                </#if>
                            </div>
                        </div>
                        <!-- Box Items End -->
                        <!-- Page Count Start -->
                        <div class="page--count pt--30 script_enabled display_none">
                            <label class="ff--primary fs--14 fw--500 text-darker ">
                                <span>Viewing</span>
                                
                                <button id="prevpage" onclick="goToSearchPage('${filter}','${page - 1}','8')" class="btn-link <#if page lte 1> display_none</#if>"><i class="fa fa-caret-left"></i></button>
                                <input type="hidden" name="filter" value="${filter}"/>
                                <input type="number" id="currentSearchPage" name="page" value="${page}" class="form-control form-sm">
                                <button id="nextpage" onclick="goToSearchPage('${filter}','${page + 1}','8')" class="btn-link <#if page gte totalPages> display_none </#if>"><i class="fa fa-caret-right"></i></button>
                                
                                <span>of ${totalPages}</span>
                            </label>
                        </div>
                        <noscript>
                        <div class="page--count pt--30 ">
                            <label class="ff--primary fs--14 fw--500 text-darker">
                                <span>Viewing</span>
                                
                                <a id="prevpage" href="search?page=${page -1}&filter=${filter}" class="btn-link <#if page lte 1> display_none</#if>"><i class="fa fa-caret-left"></i></a>
                                <form action="search" method="POST" class="display_inline_block">
                                    <input type="hidden" name="filter" value="${filter}"/>
                                    <input type="number" id="currentSearchPage" name="page" value="${page}" class="form-control form-sm">
                                </form>
                                <a id="nextpage" href="search?page=${page +1}&filter=${filter}" class="btn-link <#if page gte totalPages> display_none </#if>"><i class="fa fa-caret-right"></i></a>
                                
                                <span>of ${totalPages}</span>
                            </label>
                        </div>
                        </noscript>
                        <!-- Page Count End -->
                    </div>
                </div>
            </div>
            <!-- Main Content End -->
            <!-- Main Sidebar Start -->
            <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                <!-- Widget Start -->
                <div class="widget">
                    <h2 class="h4 fw--700 widget--title">Cerca</h2>
                    
                    <!-- Buddy Finder Widget Start -->
                    
                    <div class="buddy-finder--widget">
                        <form action="search">
                            <input type="hidden" name="type" value="${type}"/>
                            <div class="row">
                                <div class="col-xs-12 col-xxs-12">
                                    <div class="form-group">
                                        <input type="text" name="filter" value="${filter}" placeholder='<#if type = "developers">Nome,Cognome,nickname...<#else>Nome progetto, descrizione...</#if>' class="form-control" autocomplete="off"/>
                                    </div>
                                </div>
                                <#if type = "developers">
                                <div class="col-xs-12 col-xxs-12">
                                    <h2 class="h4 fw--700 widget--title">Requisiti minimi</h2>
                                    <div class="form-group" id="skill_filter">
                                        <#list skill_map>
                                        <!-- Filter item start -->
                                        <#items as skill_key,level_value>
                                        <div class="filter-item">
                                            <div class="row">
                                                <div class="col-xs-9 col-xxs-9">
                                                    <label class="mt--30">
                                                        <span class="text-darker ff--primary fw--500">Skill</span>
                                                        <select name="skills_${skill_key?index + 1}" class="form-control form-sm" data-trigger="selectmenu">
                                                            <#list list_skill as skill>
                                                            <#if skill?index = 0><option disabled hidden value="-1">Seleziona una skill</option></#if>
                                                            <option <#if skill.key == skill_key>selected</#if> value="${skill.key}">${skill.nome}</option>
                                                            </#list>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-xs-3 col-xxs-3">
                                                    <label class="mt--30">
                                                        <span class="text-darker ff--primary fw--500">Livello</span> 
                                                        <input type="number" class="form-control" value="${level_value}" min="1" max="10" step="1" name="skill_level_${skill_key?index + 1}"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <#if skill_key?index != 0><button class="btn btn-red btn-delete" onclick="remove_filter_skill(this)"><i class="fa fa-trash"></i></button></#if>
                                        </div>
                                        </#items>
                                        <!-- Filter item end -->
                                        <#else>
                                        <div class="filter-item">
                                            <div class="row">
                                                <div class="col-xs-9 col-xxs-9">
                                                    <label class="mt--30">
                                                        <span class="text-darker ff--primary fw--500">Skill</span>
                                                        <select name="skills_1" class="form-control form-sm" data-trigger="selectmenu">
                                                            <#list list_skill as skill>
                                                            <#if skill?index = 0><option disabled selected hidden value="-1">Seleziona una skill</option></#if>
                                                            <option value="${skill.key}">${skill.nome}</option>
                                                            </#list>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-xs-3 col-xxs-3">
                                                    <label class="mt--30">
                                                        <span class="text-darker ff--primary fw--500">Livello</span> 
                                                        <input type="number" class="form-control" min="1" max="10" step="1" name="skill_level_1"/>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        </#list>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-xxs-12">
                                            <button type="button" id="btn_filter_addskill" onclick="add_filter_skill()" class="btn btn-default max-width mb--15"><i class="fa fa-plus"></i> Aggiungi una skill</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-xxs-12">                                    
                                    <h2 class="h4 fw--700 widget--title">Ricerca per progetti</h2>
                                    <div class="form-group">
                                        <!-- Filter item start -->
                                        <div class="filter-item">
                                            <div class="row">
                                                <div class="col-xs-12 col-xxs-12">
                                                    <label>
                                                        <span class="text-darker ff--primary fw--500">Progetto</span>
                                                        <select name="project_select" class="form-control form-sm" id="project_select">
                                                            <#list projects as project>
                                                            <#if project?index = 0><option disabled selected hidden value="-1">Seleziona un progetto</option></#if>
                                                            <option value="${project.key}">${project.nome}</option>
                                                            </#list>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- Filter item end -->
                                        <!-- Filter item start -->
                                        <div class="filter-item display_none filter_task mt--15">
                                            <div class="row">
                                                <div class="col-xs-12 col-xxs-12">
                                                    <label>
                                                        <span class="text-darker ff--primary fw--500">Task</span>
                                                        <select id="task_select" name="task_submit" class="form-control form-sm">
                                                            <option disabled selected hidden value="-1">Seleziona un task</option>
                                                            <option value="1">Seleziona un task</option>
                                                            <option value="2">Seleziona un task</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- Filter item end -->
                                    </div>
                                </div>
                                
                                </#if>   
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary">Cerca</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Buddy Finder Widget End -->
                </div>
                <!-- Widget End -->
                
            </div>
            <!-- Main Sidebar End -->
        </div>
    </div>
</section>

