<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" dir="ltr">
    <head>
        <#include "head.html">
    </head>
    <body>
        <div style="min-height: 100%">
            <#include "header.html">
            <#include content_tpl>
        </div>
        <#include "footer.html">     
        
        <!-- ==== Plugins Bundle ==== -->
        <script src="js/plugins.min.js"></script>
        <!-- ==== Personal Scripts ==== -->
        <script src="js/personal.js"></script>
        <script src="js/custom.js"></script>
        <!-- ==== Main Script ==== -->
        <script src="js/main.js"></script>
    </body>
</html>