<!--TODO: Aggiungere filtri, Aggiungere paginazione, AJAX? -->

<!-- Page Header Start -->
<div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
    <div class="container">
        <div class="title">
            <h2 class="h1 text-white">${task_name}</h2>
        </div>
        <ul class="breadcrumb text-gray ff--primary">
            <li><a href="Test" class="btn-link">${project_name}</a></li>
            <li class="active"><span class="text-primary">${task_name}</span></li>
        </ul>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container" id="updatable_content">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner drop--shadow">
                    <!-- Topics List Start -->
                    <div class="topics--list">
                        <table class="table">
                            <thead class="ff--primary fs--14 text-darkest">
                                <tr>
                                    <th><h4>Discussione</h4></th>
                                    <th><h4>Autore</h4></th>
                                    <th><h4>Risposte</h4></th>
                                </tr>
                            </thead>
                            <tbody id="task_table_body">
                                <#list topics as topic>
                                <#assign i = topic?index>
                                <tr>
                                    <td>
                                        <h4 class="h6 fw--500 text-darkest"><a href="Messages?discussione_id=${topic.key}" class="btn-link">${topic.titolo}</a></h4>
                                    </td>
                                    <td>
                                        <p>${topic.data.time?string["dd MMMM yyyy"]}</p>
                                        
                                        <a href="UserProfile?username=${topic.utente.username}" class="topic--author">
                                            <span class="name">${topic.utente.nome} ${topic.utente.cognome}</span>
                                            <span class="avatar"><img src="image?imgid=${topic.utente.immagine.key}" alt=""></span>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="ff--primary fw--500 fs--14 text-darkest">${posts[i]}</p>
                                    </td>
                                </tr>
                                </#list>
                            </tbody>
                        </table>
                    </div>
                    <!-- Topics List End -->
                </div>
            </div>
            <!-- Main Content End -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Page Count Start -->
                <div class="page--count pt--30 script_enabled display_none">
                    <label class="ff--primary fs--14 fw--500 text-darker">
                        <span>${topics?size}</span> topics di <span>${totalResults}</span> pagina: 
                        <button id="prevpage" onclick="goToTaskPage('${task_id}','${currentpage - 1}','10')" class="btn-link <#if currentpage lte 1> display_none</#if>"><i class="fa fa-caret-left"></i></button>
                        <input type="hidden" name="task_id" value="${task_id}"/>
                        <input type="number"id="currentTaskPage" name="page" value="${currentpage}" class="form-control form-sm">
                        <button id="nextpage" onclick="goToTaskPage('${task_id}','${currentpage + 1}','10')" class="btn-link <#if currentpage gte totalPages> display_none </#if>"><i class="fa fa-caret-right"></i></button>
                        <span>di ${totalPages}</span>
                    </label>
                </div>
                <noscript>
                <div class="page--count pt--30">
                    <label class="ff--primary fs--14 fw--500 text-darker">
                        <span>${topics?size}</span> topics di <span>${totalResults}</span> pagina: 
                        <a href="TaskForum?task_id=${task_id}&page=${currentpage - 1}" class="btn-link <#if currentpage lte 1> display_none</#if>"><i class="fa fa-caret-left"></i></a>
                        <form name="change_page" class="display_inline_block" action="TaskForum" method="GET">
                            <input type="hidden" name="task_id" value="${task_id}">
                            <input type="number" name="page" value="${currentpage}" class="form-control form-sm">
                        </form>
                        <a href="TaskForum?task_id=${task_id}&page=${currentpage + 1}" class="btn-link <#if currentpage gte totalPages> display_none </#if>"><i class="fa fa-caret-right"></i></a>
                        <span>di ${totalPages}</span>
                    </label>
                </div>
                </noscript>
                <!-- Page Count End -->
            </div>
        </div>
        <#if logged??>
        <#if logged>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 col-xs-12  float--left main--content">
                <a class="btn btn-primary max-width" href="CreateDiscussion?task_id=${task_id}">Nuova discussione</a>
            </div>
        </div>
        </#if>
        </#if>
    </div>
</section>
<!-- Page Wrapper End -->
