
<!-- Cover Header Start -->
<div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
    <div class="container">

        <div class="title">
            <h2 class="h1 text-white">${task.nome}</h2>
        </div>

        <div class="cover--user-activity">
            <p><i class="fa mr--8 fa-clock-o"></i>Deadline: ${data_fine.time?string["dd MMMM yyyy"]}</p>
        </div>
        
        <br>
        <ul class="breadcrumb text-gray ff--primary">
            <li><a href="Project?progetto_id=${project_id}" class="btn-link">${project_name}</a></li>
            <li class="active"><span class="text-primary">${task_name}</span></li>
        </ul>
        </br>
        <#assign presente = false>
        <#list inviti as invito>
            <#if invito.utente.key == utente.key>
                <#assign presente = true>
            </#if>
        </#list>
        <#if skilled == true && presente == false && task.chiuso == false && utente.key != coordinatore>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <form action="SendTaskRequest" method="GET">
                        <button class="btn btn-primary max-width" name="taskiddi" value="${task.key}">Richiedi l'iscrizione al task</button>
                    </form>
                </div>
            </div>
        <#elseif utente.key == coordinatore>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <a href="CreateTask?task_id=${task.key}" class="btn btn-primary col-md">Modifica il task</a>
                </div>
            </div>
        </#if>
    </div>
</div>
<!-- Cover Header End -->

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner drop--shadow">
                    <!-- Content Nav Start -->
                    <div class="content--nav pb--30">
                        <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                            <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                            <li><a data-toggle="tab" href="#discussioni">Discussioni</a></li>
                            <li><a data-toggle="tab" href="#membri">Membri</a></li>
                        </ul>
                    </div>
                    <!-- Content Nav End -->

                    <!-- Filter Nav Start -->
                    <div class="tab-content">
                        <div id="overview" class="tab-pane fade in active">
                            <div class="forum--header pb--30">
                                <div class="forum--title">
                                    <h3 class="h3 fw--500 text-default">Descrizione</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>${task.descrizione}</p>
                                    </div>
                                </div>
                                <div class="forum--title">
                                    <h3 class="h3 fw--500 text-default">Competenze richieste</h3>
                                    <#list skills as skill, vote>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p><b class="text-darkest">Nome skill e livello richiesto:</b></p>
                                        </div>
                                        <div class="col-xs-10">
                                            <p>${skill.nome}, ${vote}</p>
                                        </div>
                                    </div>
                                    </#list>
                                </div>
                            </div>
                        </div>
                        <div id="discussioni" class="tab-pane fade">
                            <div class="forum--header pb--30">
                                <#if topics?has_content>
                                <div class="forum--title">
                                    <h3 class="h3 fw--500 text-default">Ultime discussioni</h3>
                                </div>
                                <br>
                                <div class="topics--list">
                                <table class="table">
                                    <thead class="ff--primary fs--14 text-darkest">
                                        <tr>
                                            <th>Discussione</th>
                                            <th>Messaggi</th>
                                            <th>Data e Autore</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <#assign visualizza = false>
                                        <#list task.utenti as user, vote>
                                            <#if user.key == utente.key>
                                                <#assign visualizza = true>
                                            </#if>
                                        </#list>
                                        <#list topics?sort_by("data")?reverse as topic>
                                        <#assign j = topic?index>
                                        <#if topic.pubblica == true || visualizza == true>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="Messages?discussione_id=${topic.key}" class="btn-link"><strong>${topic.titolo}</strong></a></h4>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">${posts[j]}</p>
                                            </td>
                                            <td>
                                                <p>${topic.data.time?string["dd MMMM yyyy"]}</p>

                                                <a href="UserProfile?utente_key=${topic.utente.key}" class="topic--author">
                                                    <span class="name">${topic.utente.nome} ${topic.utente.cognome}</span>
                                                    <span class="avatar"><img src="image?imgid=${topic.utente.immagine.key}" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </#if>
                                        </#list>
                                    </tbody>
                                </table>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="TaskForum?task_id=${task.key}&page=1&perPage=1&async=0" class="btn btn-primary col-md float--right">Guarda tutte le discussioni del relativo task</a>
                                </div>
                            </div>
                            <#else>
                            <div class="forum--title">
                                <h3 class="h3 fw--500 text-default">Non ci sono discussioni</h3>
                            </div>
                               
                            </#if>
                            </div>
                        </div>
                        
                        <div id="membri" class="tab-pane fade">
                            <div class="filter--nav pb--60 clearfix">
                                <div class="filter--link float--left">
                                    <#assign i=0>
                                    <#assign visualizza = false>
                                    <#list task.utenti as user, vote>
                                    <#assign i++>
                                    </#list>
                                    <#if i==0>
                                    <h3 class="h3 fw--500 text-default">Non ci sono membri in questo task</h3>
                                    <#else>
                                    <h3 class="h3 fw--500 text-default">Membri: ${i}</h3>
                                    </#if>
                                </div>
                            </div>
                    <!-- Filter Nav End -->

                    <!-- Member Items Start -->
                            <div class="member--items">
                                <div class="row gutter--15 AdjustRow">
                                    <div class="col-md-3 col-xs-6 col-xxs-12">
                                        <#list task.utenti as user, vote>
                                        <!-- Member Item Start -->
                                        <div class="member--item online">
                                            <div class="img img-circle">
                                                <a href="UserProfile?utente_key=${user.key}" class="btn-link">
                                                    <img src="image?imgid=${user.immagine.key}" alt="">
                                                </a>
                                            </div>

                                            <div class="name">
                                                <h3 class="h6 fs--12">
                                                    <a href="UserProfile?utente_key=${user.key}" class="btn-link">${user.nome} ${user.cognome}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    <!-- Member Item End -->
                                    </#list>
                                    </div>
                                    
                                </div>
                            </div>
                    <!-- Member Items End -->
                        </div>
                    </div>
                    
                    <!-- Page Count End -->
                </div>
            </div>
            <!-- Main Content End -->
        </div>
    </div>
</section>
<!-- Page Wrapper End -->

       