
<!-- Cover Header Start -->
<div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
    <div class="container">

        <div class="title">
            <h2 class="h1 text-white">${task.nome}</h2>
        </div>

        <div class="cover--user-activity">
            <p><i class="fa mr--8 fa-clock-o"></i>Deadline: ${data_fine.time?string["dd MMMM yyyy"]}</p>
        </div>
        
        <br>
        <ul class="breadcrumb text-gray ff--primary">
            <li><a href="Test" class="btn-link">${project_name}</a></li>
            <li class="active"><span class="text-primary">${task_name}</span></li>
        </ul>
        <div>
            <div class="cover--user-desc fw--400 fs--18 fstyle--i text-white">
                <p>${task.descrizione}</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 float--md-none main--content">
                <a class="btn btn-primary max-width" href="#">Richiedi l'iscrizione al task</a>
        </div>
    </div>
</div>
<!-- Cover Header End -->

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 pb--60" data-trigger="stickyScroll">
                <div class="main--content-inner drop--shadow">
                    <!-- Content Nav Start -->
                    <div class="content--nav pb--30">
                        <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                            <li class="active"><a data-toggle="tab" href="#discussioni">Discussioni</a></li>
                            <li><a data-toggle="tab" href="#membri">Membri</a></li>
                        </ul>
                    </div>
                    <!-- Content Nav End -->

                    <!-- Filter Nav Start -->
                    <div class="tab-content">
                        <div id="discussioni" class="tab-pane fade in active">
                            <div class="forum--header pb--30">
                                <div class="forum--title">
                                    <h3 class="h3 fw--500 text-default">Ultime discussioni</h3>
                                </div>
                                <br>
                                <div class="topics--list">
                                <table class="table">
                                    <thead class="ff--primary fs--14 text-darkest">
                                        <tr>
                                            <th>Discussione</th>
                                            <th>Messaggi</th>
                                            <th>Data e Autore</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <#list topics?sort_by("data")?reverse as topic>
                                        <#assign j = topic?index>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link"><strong>${topic.titolo}</strong></a></h4>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">${posts[j]}</p>
                                            </td>
                                            <td>
                                                <p>${topic.data.time?string["dd MMMM yyyy"]}</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">${topic.utente.nome} ${topic.utente.cognome}</span>
                                                    <span class="avatar"><img src="image?imgid=${topic.utente.immagine.key}" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </#list>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert mt--30">
                                <div class="alert--inner ff--primary text-white bg-primary">
                                    <p>Guarda tutte le discussioni del relativo task</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div id="membri" class="tab-pane fade">
                            <div class="filter--nav pb--60 clearfix">
                                <div class="filter--link float--left">
                                    <#assign i=0>
                                    <#list task.utenti as user, vote>
                                    <#assign i++>
                                    </#list>
                                    <h2 class="h4"><a href="members.html" class="btn-link">Membri: ${i}</a></h2>
                                </div>

                                <div class="filter--options float--right">
                                    <label>
                                        <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                                        <select name="activityfilter" class="form-control form-sm" data-trigger="selectmenu">
                                            <option value="last-active" selected>Last Active</option>
                                            <option value="new-registered">New Registerd</option>
                                            <option value="alphabetical">Alphabetical</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                    <!-- Filter Nav End -->

                    <!-- Member Items Start -->
                            <div class="member--items">
                                <div class="row gutter--15 AdjustRow">
                                    
                                    <div class="col-md-3 col-xs-6 col-xxs-12">
                                        <#list task.utenti as user, vote>
                                        <!-- Member Item Start -->
                                        <div class="member--item online">
                                            <div class="img img-circle">
                                                <a href="member-activity-personal.html" class="btn-link">
                                                    <img src="image?imgid=${user.immagine.key}" alt="">
                                                </a>
                                            </div>

                                            <div class="name">
                                                <h3 class="h6 fs--12">
                                                    <a href="member-activity-personal.html" class="btn-link">${user.nome} ${user.cognome}</a>
                                                </h3>
                                            </div>

                                            <div class="activity">
                                                <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                                            </div>

                                            <div class="actions">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                                            <i class="fa fa-envelope-o"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                                            <i class="fa fa-user-plus"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                                            <i class="fa fa-folder-o"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    <!-- Member Item End -->
                                    </#list>
                                    </div>
                                    
                                </div>
                            </div>
                    <!-- Member Items End -->

                    <!-- Page Count Start -->
                            <div class="page--count pt--30">
                                <label class="ff--primary fs--14 fw--500 text-darker">
                                    <span>Viewing</span>

                                    <a href="#" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                    <input type="number" name="page-count" value="01" class="form-control form-sm">
                                    <a href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                    <span>of 68</span>
                                </label>
                            </div>
                    
                        </div>
                    </div>
                    
                    <!-- Page Count End -->
                </div>
            </div>
            <!-- Main Content End -->

            <!-- Main Sidebar Start -->
            <!-- Main Sidebar End -->
        </div>
    </div>
</section>
<!-- Page Wrapper End -->

       