<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="cover--header pt--100 text-center">
                <div class="cover--avatar" data-overlay="0.5" data-overlay-color="primary">
                    <img src="image?imgid=${utente.immagine.key}" alt="">
                </div>
                <div>
                    <h2 class="fw--400 margin_bottom_20 margin_top_20">${utente.nome} ${utente.cognome} (${utente.username})</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row margin_bottom_20">
        <div class="col-xs-4 col-xs-offset-4">
            <#if no_mio_profilo == true>
                <#if tasks_invito?size == 0>
                    <p>Questo utente non soddisfa nessuno dei task dei tuoi progetti</p>
                <#else>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Invita questo utente a far parte di un tuo progetto
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <#list tasks_invito as task_invito>
                            <li><a href="SendTaskRequest?taskiddi=${task_invito.key}&utente_key=${utente.key}">Task "${task_invito.nome}" - Progetto "${task_invito.progetto.nome}"</a></li>
                            </#list>
                        </ul>
                    </div>
                </#if>
            </#if>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="product--details-nav fs--18 text-black bg-lighter">
                <ul class="nav ff--primary">
                    <li class="active">
                        <a href="#profileDetailsTab01" data-toggle="tab">Profilo</a>
                    </li>
                    <li>
                        <a href="#profileDetailsTab02" data-toggle="tab">Skills</a>
                    </li>
                    <li>
                        <a href="#profileDetailsTab03" data-toggle="tab">Tasks</a>
                    </li>
                    <li>
                        <a href="#profileDetailsTab04" data-toggle="tab">Progetti</a>
                    </li>
                    <li>
                        <a href="#profileDetailsTab05" data-toggle="tab">Curriculum</a>
                    </li>
                </ul>
            </div>
            <div class="product--details tab-content pb--60 fs--14">
                <div class="tab-pane fade in active" id="profileDetailsTab01">
                    <div class="profile--item">
                        <div class="profile--info">
                            <div class="row">
                                <div class="col-xs-2">
                                    <p><b class="text-darkest">Nome completo: </b></p>
                                </div>
                                <div class="col-xs-10">
                                    <p>${utente.nome} ${utente.cognome}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <p><b class="text-darkest">Data di nascita: </b></p>
                                </div>
                                <div class="col-xs-10">
                                    <p>${data_nascita.time?string["dd MMMM yyyy"]}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <p><b class="text-darkest">E-mail: </b></p>
                                </div>
                                <div class="col-xs-10">
                                    <p>${utente.email}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <p><b class="text-darkest">Biografia: </b></p>
                                </div>
                                <div class="col-xs-10">
                                    <p>${utente.biografia}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profileDetailsTab02">
                    <div class="profile--item">                        
                        <div class="profile--info">
                            <#list utente.skills?keys as skill>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p><b class="text-darkest">${skill.nome}:</b> ${utente.skills?values[skill?index]}</p>
                                </div>
                            </div>
                            </#list>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profileDetailsTab03">
                    <div class="profile--item">
                        <div class="profile--info">
                            <#if utente.tasks?size == 0>
                            <p>Questo utente non collabora a nessun task</p>
                            <#else>
                            <#list utente.tasks?keys as task>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p><a href="Task?task_id=${task.key}"><span>"${task.nome}"</span></a> nel progetto <a href="Progetto?progetto_id=${task.progetto.key}"><span>"${task.progetto.nome}"</span></a> di <a href="UserProfile?username=${task.progetto.utente.username}"><span>${task.progetto.utente.nome} ${task.progetto.utente.cognome} (${task.progetto.utente.email})</span></a> - voto: <#if utente.tasks?values[task?index] gt 0>${utente.tasks?values[task?index]}<#else>in corso</#if></p>
                                </div>
                            </div>
                            </#list>
                            </#if>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profileDetailsTab04">
                    <div class="profile--item">
                        <div class="profile--info">
                            <#if utente.progetti?size == 0>
                            <p>Questo utente non possiede dei progetti</p>
                            <#else>
                            <#list utente.progetti as progetto>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="Project?progetto_id=${progetto.key}"><span>${progetto.nome}</span></a>
                                </div>
                            </div>
                            </#list>
                            </#if>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profileDetailsTab05">
                    <div class="profile--item">
                        <div class="profile--info">
                            <#if utente.curriculum.testuale??>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <p><b class="text-darkest">Curriculum testuale: </b></p>
                                    </div>
                                    <div class="col-xs-10">
                                        <p>${utente.curriculum.testuale}</p>
                                    </div>
                                </div>
                            <#else>
                                <a href="GetCurriculum?cv_key=${utente.curriculum.key}">Scarica il curriculum vitae in PDF</a>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
